    <script src="/assets/welcome.js"></script>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail_education education">
          <img class="topic" src="/assets/carousel_muro_thumb.jpg">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <p>...</p>
            <div class="project-progress-bar bg-grey">
              <div class="project-progressed-bar bg-education full-height" style="width: 60%"></div>
            </div>
            <p><a href="#" class="btn btn-success" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail_search search">
          <img class="topic" src="/assets/carousel_library_thumb.jpg">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <p>...</p>
            <div class="project-progress-bar bg-grey">
              <div class="project-progressed-bar bg-search full-height" style="width: 40%"></div>
            </div>
            <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail_extension extension">
          <img class="topic" src="/assets/carousel_mini_thumb.jpg">
          <div class="caption">
            <h4>Thumbnail label</h4>
            <p>...</p>
            <div class="project-progress-bar bg-grey">
              <div class="project-progressed-bar bg-extension full-height" style="width: 95%"></div>
            </div>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>