<!-- LoginModal-->
<div class="modal fade" id="logar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel"> Logar </h2>
      </div>
      <div class="modal-body">
        <center>
          <button class="btn btn-facebook">
            <i class="fa fa-facebook"></i> | Conecte usando o Facebook
          </button>
          <p id="fb_alert"> Nós nunca postaremos nada sem sua permissão. </p>
        </center>

        <form id="login_form" ng-submit="login($event)">
          <div class="form-group">
            <input id="login_email" type="text" name="email" class="form-control" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input id="login_password" type="password" name="email" class="form-control" placeholder="Senha">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Fechar </button>
        <button type="button" class="btn btn-success"> Logar </button>
      </div>
    </div>
  </div>
</div>
<!-- /LoginModal -->